// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.social-links {
  text-align: left;
  margin-top: 0;

  /* Anula a centralização automática da lista (ul) dentro da div */
  .social-media-list {
    margin-left: 0;
  }  
}
/* Remove a margem invisível que empurrava os ícones para baixo */
.footer-col .contact-list {
  margin-bottom: 0;
}

/* 2. Separando os autores (aplica margem no segundo autor) */
.social-links + .contact-list {
  margin-top: 25px;
}